.sidebar {
  height: 100vh;
  width: 6rem;
  overflow: hidden;
  transition: width 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: var(--color-white);
}

.sidebar:hover {
  width: 26rem;
}

.nav {
  padding: 1rem;
  padding-top: 7rem;
  height: 100%;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav li {
  display: flex;
  white-space: nowrap;
}

.nav a {
  text-decoration: none;
  color: var(--color-text-tertiary);
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1rem;
  width: 100%;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav a span {
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.sidebar:hover .nav a span {
  opacity: 1;
}

.nav a:hover,
.nav a:active {
  background-color: var(--color-bg-dashboard-menu-hover);
  color: var(--color-text-primary);
}

.nav svg {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
}

.nav a.active {
  background-color: var(--color-bg-dashboard-menu-active);
  color: var(--color-dashboard-menu-active);
}

.logout {
  color: var(--color-accent);
  background-color: inherit;
  border: none;
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1rem;
  width: 100%;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.logout span {
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.sidebar:hover .logout span {
  opacity: 1;
}

.logout:hover,
.logout:active {
  background-color: var(--color-accent);
  color: var(--color-white);
}