.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-white); 
}

.header h2 {
  color: var(--color-text-primary);
  margin: 0;
  font-size: 2rem;
}

.header a {
  margin-left: 1rem;
}