.category-selector {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.category-selector__header {
  background-color: #f3f3f3;
  padding: 0.5rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.category-selector__title {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-weight: normal;
  width: 100%;
  text-align: center;
}

.category-selector__content {
  padding: 0.8rem;
}

.category-selector__lable {
  margin: 1rem 0;
  font-size: 14px;
}