.category-item,
.category-item-editable {
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #a7b8b8;
  border-radius: 5px;
}

.category-item:hover,
.category-item-editable:hover {
  background-color: #7f8b8b;
}

.category-item-editable {
  display: flex;
  justify-content: space-between;
}

.category-edit-btn {
  cursor: pointer;
  background-color: inherit;
  color: #962222;
  font-size: 1rem;
  border: none;
}

.category-edit-btn:hover {
  font-size: 1.2rem;
  color: #0d4d1b;
}