.container {
  padding: 1rem;
  direction: rtl;
  text-align: center;
}

.category-search {
  font: inherit;
  font-size: 1.4rem;
  padding: 0.6rem;
  border-radius: 2px;
  border: 2px solid #b6b6b6;
  width: 100%;
  padding-left: 2.5rem;
}

.category-search:focus {
  outline: none;
  border: 2px solid #5d5a9e;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  font-size: 1.4rem;
  color: #b6b6b6;
}