.swiper {
  width: 100%;
  height: 100%;
}

.swiper-scrollbar {
  margin-bottom: 2rem;
  cursor: pointer;
  height: 0.5rem !important;
}

.swiper-scrollbar-drag {
  background-color: #4b437b !important;
}

.swiper-button-prev, .swiper-button-next {
  color: #471a55;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}