.account-card {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.account-card div:hover {
  cursor: default;
  transform: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  direction: rtl;
  text-align: right;
}

.submit-btn {
  margin-top: 2rem;
}