@font-face {
  font-family: "VazirFD";
  src: url("./assets/fonts/Vazirmatn-FD-Regular.woff2") format("woff2"),
      url("./assets/fonts/Vazirmatn-FD-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("./assets/fonts/Vazirmatn-Regular.woff2") format("woff2"),
      url("./assets/fonts/Vazirmatn-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* colors */
  --color-primary: #1ABC9C;
  --color-primary-light: #e5f5f1;
  --color-secondary: #3498DB;
  --color-accent: #f26672;
  --color-text-primary: #040316;
  --color-text-secondary: #2e2d3f;
  --color-text-tertiary: #41404b;
  --color-white: #fff;
  --color-dark: #000;
  --color-bg-primary: #f4faff;

  /* fonts */
  --font-vazir-fa-num: "VazirFD";
  --font-vazir: "Vazir";

}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-vazir-fa-num);
  background-color: var(--color-white);
  color: var(--color-text-primary);
}

html[lang = "en"] body {
  font-family: var(--font-vazir);
}
